{% extends "../base.html" %}
{% load static %}
{% block title %}Register Account{% endblock %}

{% block content %} 

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{error}}</strong>
        </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <div class="alert alert-danger">
                <strong>{{message}}</strong>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="journal-header p-3 pb-md-4 mx-auto text-center justify-content-center">
    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-2">
            <label for="old_password">Old Password:</label>
            {{form.old_password}}
        </div>
        <div class="form-group mb-2">
            <label for="new_password1">New Password:</label>
            {{form.new_password1}}
        </div>
        <div class="form-group mb-2">
            <label for="new_password2">Confirm New Password:</label>
            {{form.new_password2}}
        </div>
        <input class="w-30 btn btn-md mt-3 mb-4" type="submit" value="Update Password">
    </form>
</div>

{% endblock %}