{% extends "../base.html" %}
{% load static %}
{% block title %}Create an Entry{% endblock %}

{% block content %} 

<div class="journal-header p-3 pb-md-4 mx-auto text-center justify-content-center">
    <form method="post">
        {% csrf_token %}
        <p class="fs-4">Are you sure you want to delete this entry?</p>
        <input class="w-30 btn btn-md mt-3 mb-4 fw-bold" type="submit" value="Delete">
    </form>
    <div class="pb-md-4 mx-auto text-center justify-content-center">
        <a class="w-30 btn btn-sm fw-bold" href="/read_entry/{{entry.id}}">Go Back</a>
    </div>
</div>

{% endblock %}
